In [1]:
import pandas as pd
import sys
sys.path.insert(1, '..')
import os 
os.chdir('../..')
import src.validation as validation
pd.set_option('display.max_columns',None)

2022-03-08 10:25:28.235446: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-03-08 10:25:28.235537: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [8]:
data = pd.read_csv('/mnt/NFS_SQUAD_HISTO/OCI_DATA/02_intermediate/preprocessed_oss_counter_all_v3_new.csv',
                    delimiter = '|')

In [9]:
dates = data.date.unique()
dates.sort()
dfs = []
for date in dates :
    dfs += [data.groupby('date').get_group(date)]
len(dfs)

76

In [11]:
data = dfs[4].sample(1000)
data

,Unnamed: 0,index,cell_name,date,cell_band,cell_tech,cell_sector,year,week,week_period,site_id,total_data_traffic_dl_gb,total_voice_traffic_kerlands,average_throughput_user_dl_kbps,average_throughput_user_ul_kbps,cell_occupation_dl_percentage,average_number_of_users_dl,average_number_of_users_ul,cell_occupation_ul_percentage,total_data_traffic_ul_gb,lost_traffic_kerlands,traffic_loss_rate,average_number_of_users_in_queue
3103236,3103236,1957679,OCI2694_GREEN_VALLEY_U9-1,2020-03-09,U9,3G,1,2020,11,202011,OCI2694,0.490000,5.52,2847.87,179.00,44.42,NaN,NaN,NaN,0.000000,0.0,0.0,1.00
2437553,2437553,1280713,OCI1659_RANCH_SIPILOU_G9-1,2020-03-09,G9,2G,1,2020,11,202011,OCI1659,1.747000,1555.03,23.10,17.01,25.62,NaN,NaN,NaN,0.000000,0.0,0.0,NaN
2792828,2792828,1641991,OCI2144_CIERA_U21-21,2020-03-09,U21,3G,2,2020,11,202011,OCI2144,33.070000,185.16,3299.99,334.00,91.23,NaN,NaN,NaN,0.000000,0.0,0.0,1.00
2412289,2412289,1255071,OCI1614_WILLI_COMPLEXE_L26-3,2020-03-09,L26,4G,3,2020,11,202011,OCI1614,930.323075,0.00,10024.75,1260.44,50.38,60.49,NaN,20.06,89.881633,0.0,NaN,3.32
2189592,2189592,1028683,OCI1277_MICRO_IBIS_PLATEAU_U21-12,2020-03-09,U21,3G,1,2020,11,202011,OCI1277,6.780000,38.53,2624.51,223.00,68.42,NaN,NaN,NaN,0.000000,0.0,0.0,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883031,1883031,716894,OCI0882_PETROCI_G18-1,2020-03-09,G18,2G,1,2020,11,202011,OCI0882,2.211000,525.96,47.40,24.15,12.93,NaN,NaN,NaN,0.000000,0.0,0.0,NaN
2712964,2712964,1560778,OCI2034_MADRIZE_L23-3,2020-03-09,L23,4G,3,2020,11,202011,OCI2034,495.499643,0.00,11861.96,2638.45,35.33,10.85,NaN,35.65,55.970621,0.0,NaN,0.41
2906373,2906373,1757334,OCI2257_KORHOGO_KASSIRIME_G9-1,2020-03-09,G9,2G,1,2020,11,202011,OCI2257,0.107000,99.36,39.07,20.04,3.69,NaN,NaN,NaN,0.000000,0.0,0.0,NaN
2450594,2450594,1293934,OCI1681_GUINKIN_U21-31,2020-03-09,U21,3G,3,2020,11,202011,OCI1681,5.620000,19.12,3168.34,73.00,77.37,NaN,NaN,NaN,0.000000,0.0,0.0,1.00
2575699,2575699,1421079,OCI1854_BKE_SOURCE_U21-11,2020-03-09,U21,3G,1,2020,11,202011,OCI1854,65.130000,682.50,2095.86,284.00,88.83,NaN,NaN,NaN,0.000000,0.0,0.0,1.00

In [17]:
from datetime import datetime

for i in range(0,18) :
    data = dfs[i].sort_values('cell_name').head(1000)

    start = datetime.now()
    #validation.init()
    report = validation.validate_data(data)

    end = datetime.now()
    print('Iteration '+str(i+1))
    print(datetime.now() - start)
    print('-------------')

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 1
0:00:15.898204
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 2
0:00:15.516182
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".
/home/smartcapex-dv/src/custom_validation.py:109: RuntimeWarning: invalid value encountered in double_scalars
  measure['std'] = (measure['squared_sum'] / measure['nbr'] - measure['mean'] ** 2) ** 0.5

Iteration 3
0:00:15.317792
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 4
0:00:15.388799
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 5
0:00:15.351971
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 6
0:00:15.367765
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 7
0:00:15.418537
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 8
0:00:15.335796
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 9
0:00:15.410057
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 10
0:00:15.622900
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 11
0:00:15.907715
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 12
0:00:15.885981
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 13
0:00:15.717179
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 14
0:00:15.870166
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 15
0:00:15.557613
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 16
0:00:15.552956
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 17
0:00:15.679335
-------------

WARNING:root:Replacing existing domain of feature "cell_band".
WARNING:root:Replacing existing domain of feature "cell_tech".
WARNING:root:Replacing existing domain of feature "cell_sector".

Iteration 18
0:00:15.836897
-------------

In [21]:
report

,anomaly_short_description,anomaly_long_description,feature_name,date
0,Presence anomaly,The feature was not present in any examples.,average_number_of_users_ul,2022-03-08
0,Distinctness anomaly,Actual distinctness value: 0 is below threshol...,average_number_of_users_ul,2022-03-08
1,Distinctness anomaly,Actual distinctness value: 0.05 is below thres...,lost_traffic_kerlands,2022-03-08
2,Distinctness anomaly,Actual distinctness value: 0.05 is below thres...,traffic_loss_rate,2022-03-08
3,Cell per site anomaly,there is 27 cell for the site: OCI0044 which i...,site_id,2022-03-08
4,Outlier anomaly,Value 11.77877551 for cell OCI0010_ABOBO_ND_G9...,lost_traffic_kerlands,2022-03-08
5,Outlier anomaly,Value 25.11574468 for cell OCI0048_AHIZABRE_G9...,lost_traffic_kerlands,2022-03-08
6,Outlier anomaly,Value 0.0204081632649525 for cell OCI0010_ABOB...,traffic_loss_rate,2022-03-08
7,Outlier anomaly,Value 0.0638297872318796 for cell OCI0048_AHIZ...,traffic_loss_rate,2022-03-08

In [4]:
data = dfs[0].sample(1000)
data.cell_occupation_ul_percentage = None
data.cell_occupation_ul_percentage

2682741    None
1316770    None
2846044    None
2811307    None
1543244    None
           ...
3093944    None
2440709    None
1673348    None
2577092    None
3213471    None
Name: cell_occupation_ul_percentage, Length: 1000, dtype: object

In [14]:
schema = validation.load_schema(validation.config.schema_path)

In [16]:
type(schema.custom_constraint.max_new_cells)

str